
.divMyBtn{
    margin-left: 0 !important;
}
.logoANCOUR {
    color: white;
}
.timerDiv{
    text-align: end;
}
.timer{
    color: white; 
}
.navInfo{width: 100%;}
.cardo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    background: wheat; 
    border: 2px solid;
}
.cardo2{
width: 100%;
height: 100%;
text-align: center;
}
